<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca de Clientes</title>
    <link rel="stylesheet" href="{{BASE}}vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{BASE}}assets/css/app.css">
</head>
<body>
{% block body %}{% endblock %}
{% block table %}{% endblock %}
<script src="{{ BASE }}vendor/js/jquery-3.5.1.min.js"></script>
<script src="{{ BASE }}vendor/js/bootstrap.bundle.min.js"></script>
<script src="{{ BASE }}assets/js/app.js"></script>
</body>
</html>